.container{
    padding:2vh;
    background-color: rgba(105, 85, 161, 0.863) ;
    height:30vh;
    width: 75vw;
    box-shadow: 0 0px 10px 3px black;
    border-radius: 12px;
    margin: 3vh;
    
    
}

.photo{
    width:20%;
    height:100%;
    background-color: white;
    float:left;
}

.info{ 
    font-weight:bold;
    float: left;
    margin:5vh;

    
    
}